body{
    background-color: black;
    background-image: url(pizza.png);background-repeat: no-repeat;background-size: 600px;background-position: 550px 80px;
}
.pizza.png{
    opacity: 50%;
}

.pizzahead{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(243, 170, 35);
   
}
.pizzasub{
    font-family:'Courier New', Courier, monospace;
    color: rgb(243, 170, 35);
}
p{
    color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
}
.icons{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    color: rgb(66, 66, 66);
    text-align: right;
}
.icons a{
    margin-right: 5%;
    color: antiquewhite;
}
.order{
    background-color: rgb(230, 160, 31);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-size: 100%;
}
.dark-mode{
    background-color: rgb(247, 243, 243);
    color: rgb(12, 12, 12);
}
.dark-mode p,
.dark-mode .icons a
{ color: black;
    
}
html{
    scroll-behavior: smooth;
}
#typeofpizzas {
    padding-top: 10vh;
}
h2{
color: rgb(226, 126, 11);
text-align: center;
font-size: 300%;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.dark-mode h3{
    color:black
}


